.homepage_header {
  text-align: right;
  background-color: pink;
  padding: 20vh 0;
  color: #fff;

  text-shadow: 4px 4px 4px rgba(0,0,0,0.5);

  h1 {
    font-size: 8em;
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    line-height: 100px;
  }
  p {
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
}
