@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700;900&family=Nunito+Sans&display=swap");

html {
  font-family: "Nunito Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
