@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@700;900&family=Nunito+Sans&family=Playfair+Display:wght@900&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #656565;

  // background: linear-gradient(180deg, #fff 0%, #ffeefa 100%);
}

h1,
h2,
h3,
h4 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.website {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  padding: 64px;
  background-color: #383838;
  color: white;

  & a {
    color: white;
  }
}

footer .row div {
  padding-top: 16px;
  border-top: 1px solid #fff;
}

footer .footer-title {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  margin: 0px;
  font-weight: "900";
}

.billboard {
  padding: 20vh 0;
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
}

.pad {
  padding-top: 4vh;
  padding-bottom: 4vh;
}
