@import "../styles/config.sass";

.listings {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.product {
  margin: 8px;
  display: block;
  width: 100%;

  border-radius: 8px;

  @include tablet {
    width: 300px;
  }
}

.preview {
  display: block;

  // background-color: black;
  height: 180px;
  width: 100%;
}
.info {
  display: block;
  padding: 16px;

  border: 1px solid darken($white, 10%);
  border-radius: 0px 0px 8px 8px;

  & p {
    margin-bottom: 0 !important;
  }
}
