@import "config.sass";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-body, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Nunito" sans-serif;
  background-color: $background;
  color: lighten($black, 20%);
}

a {
  color: inherit;
  text-decoration: none;
  line-height: 125%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $font-head, serif;
  font-weight: 900;
}

h2 {
  color: lighten($black, 10%);
  font-weight: bold;
  font-size: 24px;
}

.page {
  padding-top: 20px;
}

.content {
  display: block;
  align-content: inherit;
  padding: 2vh 0vw;

  line-height: 1.4em;

  h2 {
    margin-bottom: 16px;
  }

  & p {
    margin-bottom: 16px;
  }

  @include monitor {
    padding: 5vh 0;
    width: 90vw;
    max-width: $size-max;
    margin: 0 auto;
  }
}
.container {
  display: inherit;
  align-content: inherit;
  flex-direction: inherit;
  max-width: $size-monitor;
  width: 90vw;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}

header {
  background-color: $navbar-bg;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
}
header .container {
  background-color: $navbar-bg;
  color: $navbar-text;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  width: 100% !important;

  @include monitor {
    padding: 0px auto;
    margin: 0px auto;
    max-width: $size-monitor;
    flex-direction: row;
  }

  // Header logo
  & .header-logo {
    font-family: $font-head;
    text-align: right;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    padding: 16px;
    width: 100%;
    @include monitor {
      width: auto;
    }

    & .toggle {
      @include monitor {
        display: none;
      }
    }
  }

  & > nav {
    display: none;
    flex-direction: column;
    flex-grow: 2;
    border-top: 1px lighten($navbar-bg, 10%) solid;
    width: 100%;

    &.hide {
      display: none;
    }

    &.show {
      display: flex;
    }

    @include monitor {
      display: flex !important;
      border-top: none;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  & > nav > ul {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    align-items: center;
    @include monitor {
      flex-direction: row;
    }
  }

  & > nav > ul > li {
    list-style: none;
    padding: 8px 0px;
    margin: 0px 0px;

    width: 100%;

    text-align: center;
    @include tablet {
      width: auto;
    }
    @include monitor {
      padding: 16px;
      width: auto;
    }
  }

  & > nav > ul > li .active {
    color: lighten($navbar-text, 20%);
    font-weight: bold;
  }

  & > nav > ul > li .button {
    display: block;
    margin: 0px 0px;
    width: 100%;
  }
}

.button {
  background-color: white;
  padding: 8px 16px;
  border-radius: 8px;

  color: $text-alt;
  background-color: $primary;
  border: 1px darken($primary, 10%);
}

.button-large {
  display: block;
  width: 90%;
  margin: 0 auto;
}

// Banner
.banner {
  padding: 20vh 0;
  width: 100vw;

  background-size: cover;
  background-position: center center;

  color: #fff;
  text-align: center;

  & .container {
    max-width: $size-max;
  }

  & .button {
    margin-top: 32px;
    color: $primary;
    background-color: white;
    font-size: 1.5em;
  }
}
