@import "../styles/config.sass";

.title {
  font-size: 1.5em;
  
  @include monitor {
    font-size: 5em;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}

.vert {
  display: flex;
  flex-direction: column;
}
